.upperbar{
    width: 100%;
    height: 50px;
    background-color: rgb(168, 223, 255);
    align-self: center;
}
.separator{
    height: 50px;
}
.title{
    text-align: center;
}
.container{
  margin-left: 50px;
  margin-right: 50px;
}
.register-form {
  width: 100%;
}
.register-full-width {
  width: 100%;
}
.button{
    background-color: rgb(168, 223, 255);
}