<p class="separator"></p>
<h1 class="title">Pago</h1>

<div class="container">
    <form class="register-form" [formGroup]="pago">

        <!---------- Emisor------------------------------------------------------->
        <mat-form-field class="register-full-width">
            <mat-label>Emisor</mat-label>
            <mat-select formControlName="emisor">
                <mat-option *ngFor="let emisor of emisores" [value]="emisor.value">
                    {{emisor.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!---------- Numero ------------------------------------------------------->
        <mat-form-field class="register-full-width">
            <mat-label>Numero de Tarjeta</mat-label>
            <input matInput placeholder="#" type="number" formControlName="tarjeta" maxlength="16">
            <mat-icon matSuffix>credit_card</mat-icon>
        </mat-form-field>

        <!---------- Mes de Vencimiento ------------------------------------------------------->
        <mat-form-field class="register-full-width">
            <mat-label>Mes de Vencimiento</mat-label>
            <input matInput placeholder="#" type="number" formControlName="fecha_vencM" maxlength="2">
            <mat-icon matSuffix>date_range</mat-icon>
        </mat-form-field>

        <!---------- Año de Vencimiento ------------------------------------------------------->
        <mat-form-field class="register-full-width">
            <mat-label>Año de Vencimiento</mat-label>
            <input matInput placeholder="#" type="number" formControlName="fecha_vencY" maxlength="4">
            <mat-icon matSuffix>date_range</mat-icon>
        </mat-form-field>

        <!---------- Codigo de Seguridad ------------------------------------------------------->
        <mat-form-field class="register-full-width">
            <mat-label>Codigo de Seguridad</mat-label>
            <input matInput placeholder="123" type="number" formControlName="num_seguridad" maxlength="3">
            <mat-icon matSuffix>security</mat-icon>
        </mat-form-field>

        <!---------- Nombre------------------------------------------------------->
        <mat-form-field class="register-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="John" formControlName="nombre" type="text">
            <mat-icon matSuffix>person_outline</mat-icon>
        </mat-form-field>

        <!---------- Direccion------------------------------------------------------->
        <mat-form-field class="register-full-width">
            <mat-label>Dirección</mat-label>
            <input matInput placeholder="10 Av, 12 Calle" formControlName="direccion" type="text">
            <mat-icon matSuffix>directions</mat-icon>
        </mat-form-field>

        <!---------- Codigo Postal------------------------------------------------------->
        <mat-form-field class="register-full-width">
            <mat-label>Código Postal</mat-label>
            <input matInput placeholder="10001" formControlName="codigo_postal" type="text">
            <mat-icon matSuffix>local_post_office</mat-icon>
        </mat-form-field>

        <!---------- Courier------------------------------------------------------->
        <mat-form-field class="register-full-width">
            <mat-label>Courier</mat-label>
            <mat-select formControlName="courier">
                <mat-option *ngFor="let courier of couriers" [value]="courier.value">
                    {{courier.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p></p>
        <button [disabled]="pago.invalid" mat-raised-button class="register-full-width button"
            (click)="onSubmit('/menu-principal')" type="submit">
            Pagar
        </button>
        <p></p>
        <button (click)="irA('/checkout')" type="submit" mat-raised-button class="register-full-width button">Regresar
            al Carrito</button>
    </form>
</div>