<div class="upperbar">
    <button mat-button [matMenuTriggerFor]="usuario">{{user}}</button>
    <mat-menu #usuario="matMenu">
        <button mat-menu-item>Mi Cuenta</button>
        <button (click)="irA('/menu-principal')" mat-menu-item>Cerrar Sesión</button>
    </mat-menu>

    <button (click)="irA('/checkout')" mat-mini-fab color="accent" class="checkout">
        <mat-icon class="icon">shopping_cart</mat-icon>
    </button>

</div>
<p class="separator"></p>
<h1 class="title">Mi Carreta</h1>

<div class="container">
    <div class="row">
        <mat-card *ngFor="let card of cards">
            <mat-card-title>{{card.title}}</mat-card-title>
            <mat-card-content>
                {{card.img}}
                <br>
                {{card.description}}
                <br>
                {{card.category}}
                <br>
                {{card.author}}
                <br>
                {{card.available}}
                <br>
                {{card.price}}
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <mat-icon>plus_one</mat-icon>
                </button>
                <button mat-button>
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>