<p class="separator"></p>
<h1 class="title">Mi Carreta</h1>

<div class="container">
    <div class="row">
        <mat-card *ngFor="let producto of carrito_IDs">
            <mat-card-title>titulo</mat-card-title>
            <mat-card-content>
                {{producto.pr_id}}
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <div class="menu">
                    <button (click)="delete_card(producto.pr_id)" mat-icon-button class="delete">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                    <button (click)="minus_one(producto.pr_id)" mat-icon-button class="quantity">
                        <mat-icon>remove</mat-icon>
                    </button>
                        {{producto.pr_cantidad}}
                    <button (click)="plus_one(producto.pr_id)" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
        <div class="total">
            <h3>
                Total: Q{{total}}
            </h3>
        </div>
        <mat-divider></mat-divider>
        <br>
        <div class="botones">
            <button mat-raised-button class="register-full-width button" (click)="irA('/checkout')">Ir a Caja</button>
            <br>
            <br>
            <button mat-raised-button class="register-full-width button" (click)="irA('/menu-principal')">Seguir
                Comprando</button>
        </div>

    </div>
</div>
<!--<div class="upperbar">
    <a (click)="irA('/menu-principal')"> 
        <button mat-button><mat-icon class="center">home</mat-icon></button>
    </a>
    <button mat-button [matMenuTriggerFor]="usuario">{{user}}</button>
    <mat-menu #usuario="matMenu">
        <button mat-menu-item>Mi Cuenta</button>
        <button (click)="irA('/menu-principal')" mat-menu-item>Cerrar Sesión</button>
    </mat-menu>

    <button (click)="irA('/checkout')" mat-mini-fab color="accent" class="checkout">
        <mat-icon class="icon">add_shopping_cart</mat-icon>
    </button>

</div>-->
<!--
<p class="separator"></p>
<h1 class="title">Mi Carreta</h1>

<div class="container">
    <div class="row">
        <mat-card *ngFor="let card of cards">
            <mat-card-title>{{card.title}}</mat-card-title>
            <mat-card-content>
                {{card.img}}
                <br>
                Numero de Producto: {{card.numero}}
                <br>
                Descripcion: {{card.description}}
                <br>
                Categoría: {{card.category}}
                <br>
                Autor: {{card.author}}
                <br>
                Cantidad Disponible: {{card.available}}
                <br>
                Precio: Q{{card.price}}
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <div class="menu">
                    <button (click)="delete_card" mat-icon-button class="delete">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                    <button (click)="minus_one()" mat-icon-button class="quantity">
                        <mat-icon>remove</mat-icon>
                    </button>
                    {{quantity}}
                    <button (click)="plus_one()" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
        <div class="total">
            <h3>
                Total: Q{{total}}
            </h3>
        </div>
        <mat-divider></mat-divider>
        <br>
        <div class="botones">
            <button mat-raised-button class="register-full-width button" (click)="irA('/checkout')">Ir a Caja</button>
            <br>
            <br>
            <button mat-raised-button class="register-full-width button" (click)="irA('/menu-principal')">Seguir
                Comprando</button>
        </div>

    </div>
</div>
-->
