.upperbar{
    width: 100%;
    height: 50px;
    background-color: rgb(168, 223, 255);
    align-self: center;
    text-align: end;
}
.separator{
    height: 50px;
}
.title{
    text-align: center;
}
.checkout{
    background-color: rgb(255, 225, 143);
    margin-right: 48px;
    margin-top: 4px;
}
.example-card {
  max-width: 400px;
}
.menu{
    text-align: start;
}

.delete{
    margin-left: 30px;
    color: red;

}
.quantity{
    margin-left: 75%;
}
.total{
    text-align: end;
    margin-right: 30px;
}
.botones{
    margin-left: 20%;
    margin-right: 20%;
}
.button{
    width: 100%;
    background-color: rgb(168, 223, 255);
}
.back{
    background-color: aquamarine;
}
.upperbar{
    width: 100%;
    height: 50px;
    background-color: rgb(168, 223, 255);
    align-self: center;
    text-align: end;
}
.element{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10%;

}
.separator{
    height: 30px;
}
.title{
    text-align: center;
}
.checkout{
    background-color: rgb(255, 225, 143);
    margin-right: 48px;
    margin-top: 4px;
}

.proporciones_imagen{
    width:200px;
    height: 200px;
}