<!--<div class="upperbar">
    <button mat-button [matMenuTriggerFor]="usuario">{{user}}</button>
    <mat-menu #usuario="matMenu">
        <button mat-menu-item>Mi Cuenta</button>
        <button (click)="irA('/menu-principal')" mat-menu-item>Cerrar Sesión</button>
    </mat-menu>

    <button (click)="irA('/checkout')" mat-mini-fab color="accent" class="checkout">
        <mat-icon class="icon">shopping_cart</mat-icon>
    </button>
</div>  -->


<p class="separator"></p>

<body class="back">


<h1 class="title">Productos</h1>

        <mat-card class="element" *ngFor="let producto of lista_de_productos"> 
            <mat-card-title><h2>{{producto.nombre}}</h2></mat-card-title>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title> Autor: {{producto.autor}}</mat-card-title>
                <br>
               <div><mat-card-subtitle>{{producto.tipo}}</mat-card-subtitle></div> 

            </mat-card-header>
            <mat-card-content class="img">
                <img class = "proporciones_imagen" style="margin-left: 120px;" mat-card-image src={{producto.foto}} alt={{producto.nombre}}> 
                <p>{{producto.descripcion}}</p>
                <h3>Precio: {{producto.precio}}</h3>
            </mat-card-content>
            <mat-card-actions>
                <button mat-rise-button (click)="agregarCarrito(producto.id)">Agregar al Carro</button>
            </mat-card-actions>
        </mat-card>
</body>