<div class="upperbar">

    <div *ngIf="auth.isLogin()">
        <button (click)="irA('/menu-principal')" mat-button>
            <mat-icon class="center">home</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="belowMenu">{{userDisplayName}}</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item (click)="irA('/user-page')">Mi Cuenta</button>
            <button (click)="logout()" mat-menu-item>Cerrar Sesión</button>
        </mat-menu>
        <button (click)="irA('/checkout')" mat-mini-fab color="accent" class="checkout">
            <mat-icon class="icon">add_shopping_cart</mat-icon>
        </button>
    </div>
    <div *ngIf="!auth.isLogin() && !auth.isAdminLogin()">
        <button (click)="irA('/menu-principal')" mat-button>
            <mat-icon class="center">home</mat-icon>
        </button>
        <mat-button-toggle (click)="openDialog()">Iniciar Sesión
        </mat-button-toggle>
    </div>
    <!--ADMINISTRADOR-->
    <div *ngIf="auth.isAdminLogin()">
        <button (click)="irA('/admin')" mat-button>
            <mat-icon class="center">home</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="belowMenu">Administrador: {{userDisplayName}}</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <button (click)="logout()" mat-menu-item>Cerrar Sesión</button>
        </mat-menu>
    </div>
</div>

<router-outlet></router-outlet>