<div class="upperbar"></div>
<p class="separator"></p>

<h1 class="title">Registro</h1>

<div class="container">
    <form class="register-form">
        <mat-form-field class="register-full-width">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="name@gmail.com">
            <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
        <mat-form-field class="register-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="John">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="register-full-width">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Smith">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="register-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password">
            <mat-icon matSuffix>security</mat-icon>
        </mat-form-field>
        <mat-form-field class="register-full-width">
            <mat-label>Repetir Contraseña</mat-label>
            <input matInput type="password">
            <mat-icon matSuffix>verified_user</mat-icon>
        </mat-form-field>
        <p></p>
        <button mat-raised-button class="register-full-width button">Registrarse</button>
        <p></p>
        <button (click)="irA('/menu-principal')" type="submit" mat-raised-button class="register-full-width button">¿Yá
            tienes
            cuenta?,
            Login
            Aqui!</button>
    </form>
</div>