<div mat-dialog-content>
    <h1 class="title">Agregar Direccion</h1>
    <p class="separator"></p>

    <div class="container">
        <form class="register">

            <!-------------  IP --------------------->
            <mat-form-field class="register-full-width">
                <mat-label>Calle, Avenida</mat-label>
                <input matInput placeholder="10 Avenida, 12 Calle" type="input" [(ngModel)]="data.direccion" name = "dir">
                <mat-icon matSuffix>location_on</mat-icon>
            </mat-form-field>

            <!-------------  Nombre --------------------->
            <mat-form-field class="register-full-width">
                <mat-label>Zona</mat-label>
                <input matInput placeholder="10" type="input" [(ngModel)]="data.zona" name = "cod">
                <mat-icon matSuffix>location_on</mat-icon>
            </mat-form-field>
            <p></p>
            <button mat-raised-button class="register-full-width button" [mat-dialog-close]="data">Agregar
                Courier</button>
            <p></p>
        </form>
    </div>